################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/O2DESNet/obj
/O2DESNet/bin
/packages
/O2DESNet.Template/obj
/O2DESNet.Demos.Workshop/obj
/O2DESNet.Demos.MM1Queue/obj
